[submodule "dx.client"]
	path = dx.client
	url = https://github.com/zimmerman-team/Dx.client.git
[submodule "dx.server"]
	path = dx.server
	url = https://github.com/zimmerman-team/Dx.server.git
[submodule "dx.backend"]
	path = dx.backend
	url = https://github.com/zimmerman-team/dx.backend.git
[submodule "rawgraphs-charts"]
	path = rawgraphs-charts
	url = https://github.com/zimmerman-team/rawgraphs-charts.git
[submodule "monitoring"]
	path = monitoring
	url = https://github.com/zimmerman-team/Central-Logging.git
