version: "3.5"
services:
  mongo:
    container_name: dx-mongo
    restart: always
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    ports:
      - 27017:27017
    volumes:
      - dx_mongo_data:/data/db
    env_file:
      - .env

  server:
    container_name: dx-server
    restart: always
    build: ./dx.server
    image: dx-server
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_AUTH_SOURCE=${MONGO_AUTH_SOURCE}
      - BACKEND_SUBDOMAIN=${BACKEND_SUBDOMAIN}
      - MAIN_DOMAIN=${MAIN_DOMAIN}
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - DX_BACKEND_DIR=${DX_BACKEND_DIR}
      - ENV_TYPE=${ENV_TYPE}
    ports:
      - 4200:4200
    depends_on:
      - mongo
    env_file:
      - .env
    volumes:
      - ./dx.backend/:/app/dx.backend/

  backend:
    container_name: dx-backend
    restart: always
    build:
      context: ./dx.backend
    image: dx-backend
    environment:
      - DATA_EXPLORER_SSR=${DATA_EXPLORER_SSR}
    ports:
      - 4004:4004
    depends_on:
      - server
    env_file:
      - .env
    volumes:
      - ./dx.backend/staging/:/app/staging/
      - ./dx.backend/logging/:/app/logging/
      - ./dx.backend/parsed-data-files/:/app/parsed-data-files/
      - ./dx.backend/sample-data-files/:/app/sample-data-files/
    deploy:
      resources:
        limits:
          memory: 8G

  ai-api:
    container_name: dx-ai-api
    build:
      context: ./general-ai-api
    image: dx-ai-api
    command: gunicorn --bind 0.0.0.0:5000 manage:app
    volumes:
      # path to be changed in deployment, this path assumes as part of DX central repo
      - ./dx.backend/parsed-data-files:/parsed-data-files
    env_file:
      - .env

  frontend:
    container_name: dx-frontend
    restart: always
    build:
      context: .
      args:
        - MAIN_DOMAIN=${MAIN_DOMAIN}
        - APP_SUBDOMAIN=${APP_SUBDOMAIN}
        - API_SUBDOMAIN=${API_SUBDOMAIN}
        - BACKEND_SUBDOMAIN=${BACKEND_SUBDOMAIN}
        - REACT_APP_API=${REACT_APP_API}
        - REACT_APP_GOOGLE_API_CLIENT_ID=${REACT_APP_GOOGLE_API_CLIENT_ID}
        - REACT_APP_GOOGLE_API_DEV_KEY=${REACT_APP_GOOGLE_API_DEV_KEY}
        - REACT_APP_AUTH0_DOMAIN=${REACT_APP_AUTH0_DOMAIN}
        - REACT_APP_AUTH0_CLIENT=${REACT_APP_AUTH0_CLIENT}
        - REACT_APP_AUTH0_AUDIENCE=${REACT_APP_AUTH0_AUDIENCE}
    image: dx-client
    ports:
      - 81:80
    depends_on:
      - server
      - backend
    environment:
      - REACT_APP_API=${REACT_APP_API}
      - REACT_APP_CMS_TOKEN=${REACT_APP_CMS_TOKEN}
      - REACT_APP_MAPBOX_TOKEN=${REACT_APP_MAPBOX_TOKEN}
      - REACT_APP_CMS_API=${REACT_APP_CMS_API}
      - REACT_APP_GOOGLE_API_CLIENT_ID=${REACT_APP_GOOGLE_API_CLIENT_ID}
      - REACT_APP_GOOGLE_API_DEV_KEY=${REACT_APP_GOOGLE_API_DEV_KEY}
      - REACT_APP_AUTH0_DOMAIN=${REACT_APP_AUTH0_DOMAIN}
      - REACT_APP_AUTH0_CLIENT=${REACT_APP_AUTH0_CLIENT}
      - REACT_APP_AUTH0_AUDIENCE=${REACT_APP_AUTH0_AUDIENCE}
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 8G
    volumes:
      - ./dx.client/prod/:/app/client/prod/

volumes:
  dx_mongo_data:
