version: "3.5"
services:
  mongo-staging:
    container_name: dx-mongo-staging
    restart: always
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    ports:
      - 27018:27017
    volumes:
      - dx_mongo_data_staging:/data/db
    env_file:
      - .env

  server-staging:
    container_name: dx-server-staging
    restart: always
    build: ./dx.server
    image: dx-server
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_AUTH_SOURCE=${MONGO_AUTH_SOURCE}
      - BACKEND_SUBDOMAIN=${BACKEND_SUBDOMAIN}
      - MAIN_DOMAIN=${MAIN_DOMAIN}
      - DX_BACKEND_DIR=${DX_BACKEND_DIR}
      - ENV_TYPE=${ENV_TYPE}
    ports:
      - 4201:4200
    depends_on:
      - mongo-staging
    env_file:
      - .env
    volumes:
      - ./dx.backend/:/app/dx.backend/

  backend-staging:
    container_name: dx-backend-staging
    restart: always
    build: 
      context: ./dx.backend
    image: dx-backend
    environment:
      - DATA_EXPLORER_SSR=${DATA_EXPLORER_SSR}
    ports:
      - 4005:4004
    depends_on:
      - server-staging
    env_file:
      - .env
    volumes:
      - ./dx.backend/staging/:/app/staging/
      - ./dx.backend/logging/:/app/logging/	
      - ./dx.backend/parsed-data-files/:/app/parsed-data-files/	
      - ./dx.backend/sample-data-files/:/app/sample-data-files/	
    deploy:	
      resources:	
        limits:
          memory: 8G

  frontend-staging:
    container_name: dx-frontend-staging
    restart: always
    build: 
      context: .
      dockerfile: Dockerfile.staging
      args:
        - REACT_APP_API=${REACT_APP_API}
    image: dx-client
    ports:
      - 81:80
    depends_on:
      - server-staging
      - backend-staging
    environment:
      - REACT_APP_API=${REACT_APP_API}
      - REACT_APP_CMS_TOKEN=${REACT_APP_CMS_TOKEN}
      - REACT_APP_MAPBOX_TOKEN=${REACT_APP_MAPBOX_TOKEN}
      - REACT_APP_CMS_API=${REACT_APP_CMS_API}
    env_file:
      - .env
    deploy:
      resources:
        limits:
          memory: 8G
    volumes:
      - ./dx.client/staging/:/app/client/staging/

volumes:
  dx_mongo_data_staging:
