version: "3.5"
services:
  mongo-dev:
    container_name: dx-mongo-dev
    restart: always
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    ports:
      - 27017:27017
    volumes:
      - dx_mongo_data_dev:/data/db
    env_file:
      - .env.dev

  server-dev:
    container_name: dx-server-dev
    restart: always
    build:
      context: ./dx.server
      dockerfile: Dockerfile.dev
    image: dx-server-dev
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_AUTH_SOURCE=${MONGO_AUTH_SOURCE}
      - DX_BACKEND_DIR=${DX_BACKEND_DIR}
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - ENV_TYPE=${ENV_TYPE}
    ports:
      - 4200:4200
    env_file:
      - .env.dev
    volumes:
      - ./dx.backend/:/app/dx.backend/
      - ./dx.server/src/:/app/src/
      - ./dx.server/logging/:/app/logging/
    depends_on:
      - redis-dev

  backend-dev:
    container_name: dx-backend-dev
    restart: always
    build:
      context: ./dx.backend
    image: dx-backend-dev
    environment:
      - DATA_EXPLORER_SSR=${DATA_EXPLORER_SSR}
      - DW_AUTH_TOKEN=${DW_AUTH_TOKEN}
    ports:
      - 4004:4004
    env_file:
      - .env.dev
    volumes:
      - ./dx.backend/staging/:/app/staging/
      - ./dx.backend/logging/:/app/logging/
      - ./dx.backend/parsed-data-files/:/app/parsed-data-files/
      - ./dx.backend/sample-data-files/:/app/sample-data-files/
      - ./dx.backend/services/:/app/services/
      - ./dx.backend/util/:/app/util/
      - ./dx.backend/app.py:/app/app.py

  ai-api-dev:
    container_name: dx-ai-api-dev
    build:
      context: ./general-ai-api
    image: dx-ai-api-dev
    command: gunicorn --bind 0.0.0.0:5000 manage:app
    volumes:
      # path to be changed in deployment, this path assumes as part of DX central repo
      - ./dx.backend/parsed-data-files:/parsed-data-files
      - ./general-ai-api:/app
    ports:
      - 5000:5000
    env_file:
      - .env.dev

  frontend-dev:
    container_name: dx-dev
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: dx-dev
    ports:
      - 3000:3000
    volumes:
      - ./dx.client/src:/app/client/src
    environment:
      - CHOKIDAR_USEPOLLING=true
      - VITE_API=${VITE_API}
      - VITE_CMS_TOKEN=${VITE_CMS_TOKEN}
      - VITE_MAPBOX_TOKEN=${VITE_MAPBOX_TOKEN}
      - VITE_CMS_API=${VITE_CMS_API}
      - VITE_GOOGLE_API_CLIENT_ID=${VITE_GOOGLE_API_CLIENT_ID}
      - VITE_GOOGLE_API_DEV_KEY=${VITE_GOOGLE_API_DEV_KEY}
      - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
      - VITE_AUTH0_CLIENT=${VITE_AUTH0_CLIENT}
      - VITE_AUTH0_AUDIENCE=${VITE_AUTH0_AUDIENCE}
      - VITE_INTERCOM_APP_ID=${VITE_INTERCOM_APP_ID}
      - VITE_ONEDRIVE_CLIENT_ID=${VITE_ONEDRIVE_CLIENT_ID}
      - VITE_ENV_TYPE=${VITE_ENV_TYPE}
      - VITE_LIVE_SESSION_ID=${VITE_LIVE_SESSION_ID}
    env_file:
      - .env.dev

  redis-dev:
    container_name: dx-redis-dev
    image: redis:latest
    restart: always
    ports:
      - 6379:6379
    command:
      - /bin/sh
      - -c
      - redis-server --save 20 1 --loglevel debug --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    volumes:
      - dx_redis_data_dev:/data
    env_file:
      - .env.dev

volumes:
  dx_mongo_data_dev:
  dx_redis_data_dev:
