version: "3.5"
services:
  mongo:
    container_name: dx-mongo
    restart: always
    image: mongo:latest
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DATABASE}
    ports:
      - 27017:27017
    volumes:
      - dx_mongo_data:/data/db
    env_file:
      - .env.prod

  server:
    container_name: dx-server
    restart: always
    build: ./dx.server
    image: dx-server
    environment:
      - MONGO_HOST=${MONGO_HOST}
      - MONGO_USERNAME=${MONGO_USERNAME}
      - MONGO_PASSWORD=${MONGO_PASSWORD}
      - MONGO_AUTH_SOURCE=${MONGO_AUTH_SOURCE}
      - BACKEND_SUBDOMAIN=${BACKEND_SUBDOMAIN}
      - MAIN_DOMAIN=${MAIN_DOMAIN}
      - AUTH0_DOMAIN=${AUTH0_DOMAIN}
      - AUTH0_AUDIENCE=${AUTH0_AUDIENCE}
      - DX_BACKEND_DIR=${DX_BACKEND_DIR}
      - ENV_TYPE=${ENV_TYPE}
    ports:
      - 4200:4200
    depends_on:
      - mongo
      - redis
    env_file:
      - .env.prod
    volumes:
      - ./dx.backend/:/app/dx.backend/
      - ./dx.server/logging/:/app/logging/

  backend:
    container_name: dx-backend
    restart: always
    build:
      context: ./dx.backend
    image: dx-backend
    environment:
      - DATA_EXPLORER_SSR=${DATA_EXPLORER_SSR}
      - DW_AUTH_TOKEN=${DW_AUTH_TOKEN}
    ports:
      - 4004:4004
    depends_on:
      - server
    env_file:
      - .env.prod
    volumes:
      - ./dx.backend/staging/:/app/staging/
      - ./dx.backend/logging/:/app/logging/
      - ./dx.backend/parsed-data-files/:/app/parsed-data-files/
      - ./dx.backend/sample-data-files/:/app/sample-data-files/
    deploy:
      resources:
        limits:
          memory: 8G

  ai-api:
    container_name: dx-ai-api
    build:
      context: ./general-ai-api
    image: dx-ai-api
    command: gunicorn --bind 0.0.0.0:5000 manage:app
    volumes:
      # path to be changed in deployment, this path assumes as part of DX central repo
      - ./dx.backend/parsed-data-files:/parsed-data-files
    env_file:
      - .env.prod
    ports:
      - 5000:5000

  frontend:
    container_name: dx-frontend
    restart: always
    build:
      context: .
      args:
        - MAIN_DOMAIN=${MAIN_DOMAIN}
        - APP_SUBDOMAIN=${APP_SUBDOMAIN}
        - API_SUBDOMAIN=${API_SUBDOMAIN}
        - BACKEND_SUBDOMAIN=${BACKEND_SUBDOMAIN}
        - VITE_API=${VITE_API}
        - VITE_GOOGLE_API_CLIENT_ID=${VITE_GOOGLE_API_CLIENT_ID}
        - VITE_GOOGLE_API_DEV_KEY=${VITE_GOOGLE_API_DEV_KEY}
        - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
        - VITE_AUTH0_CLIENT=${VITE_AUTH0_CLIENT}
        - VITE_AUTH0_AUDIENCE=${VITE_AUTH0_AUDIENCE}
        - VITE_HUBSPOT_PORTAL_ID=${VITE_HUBSPOT_PORTAL_ID}
        - VITE_HUBSPOT_SUBSCRIBE_FORM_ID=${VITE_HUBSPOT_SUBSCRIBE_FORM_ID}
        - VITE_INTERCOM_APP_ID=${VITE_INTERCOM_APP_ID}
        - VITE_ONEDRIVE_CLIENT_ID=${VITE_ONEDRIVE_CLIENT_ID}
        - VITE_ENV_TYPE=${VITE_ENV_TYPE}
        - VITE_LIVE_SESSION_ID=${VITE_LIVE_SESSION_ID}
        - VITE_CMS_API=${VITE_CMS_API}
        - VITE_CMS_TOKEN=${VITE_CMS_TOKEN}
    image: dx-client
    ports:
      - 81:80
    depends_on:
      - server
      - backend
    environment:
      - VITE_API=${VITE_API}
      - VITE_MAPBOX_TOKEN=${VITE_MAPBOX_TOKEN}
      - VITE_GOOGLE_API_CLIENT_ID=${VITE_GOOGLE_API_CLIENT_ID}
      - VITE_GOOGLE_API_DEV_KEY=${VITE_GOOGLE_API_DEV_KEY}
      - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
      - VITE_AUTH0_CLIENT=${VITE_AUTH0_CLIENT}
      - VITE_AUTH0_AUDIENCE=${VITE_AUTH0_AUDIENCE}
      - VITE_HUBSPOT_PORTAL_ID=${VITE_HUBSPOT_PORTAL_ID}
      - VITE_HUBSPOT_SUBSCRIBE_FORM_ID=${VITE_HUBSPOT_SUBSCRIBE_FORM_ID}
      - VITE_INTERCOM_APP_ID=${VITE_INTERCOM_APP_ID}
      - VITE_ONEDRIVE_CLIENT_ID=${VITE_ONEDRIVE_CLIENT_ID}
      - VITE_ENV_TYPE=${VITE_ENV_TYPE}
      - VITE_LIVE_SESSION_ID=${VITE_LIVE_SESSION_ID}
      - VITE_CMS_API=${VITE_CMS_API}
      - VITE_CMS_TOKEN=${VITE_CMS_TOKEN}
    env_file:
      - .env.prod
    deploy:
      resources:
        limits:
          memory: 8G
    volumes:
      - ./dx.client/prod/:/app/client/prod/

  redis:
    container_name: dx-redis
    image: redis:latest
    restart: always
    ports:
      - 6379:6379
    command:
      - /bin/sh
      - -c
      - redis-server --save 20 1 --loglevel debug --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    volumes:
      - dx_redis_data:/data
    env_file:
      - .env.prod

volumes:
  dx_mongo_data:
  dx_redis_data:
